@model IEnumerable<subd2.Models.HistoryOfProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>History</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
@*            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Idproduct)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Idproduct)
            </td>*@
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Counter">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Counter">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Counter">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
