@model IEnumerable<subd2.Models.GivePay>

@{
    ViewData["Title"] = "PayTime";
}

<h1>PayTime</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@

</p>
<form asp-action="GivePayConfirm" method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyRawMatCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellProductCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateProductCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalPercent)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthNavigationGP.Months)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyRawMatCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellProductCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateProductCount)
            </td>
                <td>
                    @Html.DisplayFor(model => item.TotalWorkCount)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MonthNavigationGP.Months)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
@*                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
    @{
        List<double?> results = Model.Select(m => m.Result).ToList();
    }
    <input type="hidden" name="results" value="@Newtonsoft.Json.JsonConvert.SerializeObject(results)" />
    <h4 style="padding-left:1000px">ИТОГО К ВЫПЛАТЕ: @ViewBag.CountFull</h4>
    <div style="margin-top:100px;display: flex; justify-content:center; align-items: center; font-size: 36px; justify-items: center; flex-direction:column">
        <input style="font-size: 36px" type="submit" value="Подтвердить" class="btn btn-primary" />
    </div>
</form>